body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.order-details {
    margin-bottom: 20px; 
}

.form-group {
    margin-bottom: 15px; 
}

label {
    display: inline-block; 
    width: 150px; 
}
table {
    border-collapse: collapse;
    width: 60%;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.total-row {
    font-weight: bold; 
    background-color: #f0f0f0; 
}

button {
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s, transform 0.2s; 
}

.add-button {
    background-color: #4CAF50;
    margin: 2px;
}

.add-button:hover {
    background-color: #45a049; 
}

.add-button:active {
    transform: scale(0.95); 
}

.delete-button {
    background-color: #f44336; 
}

.delete-button:hover {
    background-color: #e53935; 
}

.delete-button:active {
    transform: scale(0.95); 
}

.submit-button {
    background-color: #007BFF; 
    margin: 2px;
}

.submit-button:hover {
    background-color: #0056b3; 
}

.submit-button:active {
    transform: scale(0.95); 
}